{% load static %}

<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bg.css' %}">

</head>
<body>
<section> 
    <div class="bg"> 
        <h1>동국대학교 중앙동아리방 예약 서비스</h1> 
        <p>코시국 동아리방을 이용하고 싶다면 로그인 후 예약하자!</p> 
        <button type="button" onClick="location.href='{% url 'app1_simbathon5:reservation'%}'" class="btn">Login</button>
        <button type="button" onClick="location.href='{% url 'app1_simbathon5:reservation'%}'" class="btn">예약하기</button>
    </div>
</section>

</body>
</html>